/*===============================
=           About Block         =
===============================*/

#about-block {
	padding-top: 85px;
	padding-bottom: 80px;
	background-color: $grey;
	@include breakpoint (desktop) {
        padding-top: 75px;
		padding-bottom: 70px;
    }
    @include media-breakpoint-only(lg) {
        padding-top: 65px;
		padding-bottom: 60px;
    }
    @include media-breakpoint-only(md) {
       	padding-top: 55px;
		padding-bottom: 50px;
    }
    @include media-breakpoint-down(sm) {
        padding-top: 45px;
		padding-bottom: 0px;
    }
	.about-content {
		@include media-breakpoint-up(sm) {
			display: flex;
			align-items: center;
		}
		.about-text {
			max-width: 697px;
			width: 100%;
			padding-right: 50px;
			@include media-breakpoint-down(sm) {
				padding-right: 0;
				margin-bottom: 30px;
			}
			p {
				font-family: $mont-reg;
				font-size: 1.375em;
				line-height: 1.5;
				color: #FFFFFF;
				&:last-of-type {
					margin-bottom: 0;
				}
				@include breakpoint (desktop) {
			        font-size: 1.250em;
			    }
			    @include media-breakpoint-only(lg) {
			        font-size: 1.125em;
			    }
			    @include media-breakpoint-only(md) {
			       	font-size: 1em;
			    }
			    @include media-breakpoint-down(sm) {
			        font-size: 0.9em;
			    }
			}
		}
		.about-video {
			margin-left: auto;
			position: relative;
			a {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				display: block;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				text-align: center;
				&:hover {
					img {
						visibility: visible;
  						opacity: 1;
  						transition: opacity .3s linear;
					}
				}
				img {
					visibility: hidden;
  					opacity: 0;
  					transition: visibility 0s .3s, opacity .3s linear;
				}
			}
		}
	}
	#about-counter {
		margin-top: 50px;
		margin-bottom: 38px;
		text-align: center;
		.row {
			padding-left: 15px;
			padding-right: 15px;
		}
		.col {
			padding-left: 0;
			padding-right: 0;
			@include media-breakpoint-down(sm) {
				min-width: 100%;
				margin-bottom: 20px;
			}
			&:last-of-type {
				.counter-item {
					&:after {
						@include centre(y);
						content: '';
						display: block;
						background-color: #707070;
						width: 1px;
						height: 126px;
						@include media-breakpoint-down(sm) {
							display: none;
						}
					}
				}
			}
		}
		.counter-item {
			position: relative;
			text-align: center;
			padding-left: 15px;
			padding-right: 15px;
			&:before {
				@include centre(y);
				content: '';
				display: block;
				background-color: #707070;
				width: 1px;
				height: 126px;
				@include media-breakpoint-down(sm) {
					display: none;
				}
			}
			&:before {
				left: 0;
			}
			&:after {
				right: 0;
			}
			h3 {
				text-align: center;
				font-family: $mont-bold;
				font-size: 3.750em;
				color: #FFFFFF;
				text-transform: uppercase;
				margin-bottom: 5px;
				@include breakpoint (desktop) {
			        font-size: 3.125em;
			    }
			    @include media-breakpoint-only(lg) {
			        font-size: 2.500em;
			    }
			    @include media-breakpoint-only(md) {
			       font-size: 2.188em;
			    }
			    @include media-breakpoint-down(sm) {
			        font-size: 1.875em;
			    }
			}
			h4 {
				font-family: $mont-reg;
				font-size: 0.875em;
				line-height: 18px;
				color: $blue-light;
			}
		}
	}
}


/*=====  End of About Block ======*/



/*===============================
=         Services Area        =
===============================*/

#services-area {
	background-color: #FAF9F8;
	padding-top: 140px;
	
	@include breakpoint (desktop) {
        padding-top: 100px;
    }
    @include media-breakpoint-only(lg) {
        padding-bottom: 45px;
        padding-top: 80px;
    }
    @include media-breakpoint-only(md) {
       padding-bottom: 35px;
       padding-top: 60px;
    }
    @include media-breakpoint-down(sm) {
        padding-bottom: 35px;
        padding-top: 40px;
    }
	h2 {
		text-align: center;
		@include heading-font;
		margin-bottom: 115px;
		@include breakpoint (desktop) {
	       margin-bottom: 85px;
	    }
	    @include media-breakpoint-only(lg) {
	       margin-bottom: 65px;
	    }
	    @include media-breakpoint-only(md) {
	       margin-bottom: 50px;
	    }
	    @include media-breakpoint-down(sm) {
	       margin-bottom: 40px;
	    }
	}
	&.services-blog-module {
		padding-top: 0;
	}
	#service-boxes {
		margin-left: -25px;
		margin-right: -25px;
		@include breakpoint (desktop) {
	       	margin-left: -20px;
			margin-right: -20px;
	    }
	    @include media-breakpoint-down(lg) {
	       	margin-left: -15px;
			margin-right: -15px;
	    }
		[class*="col-"] {
			padding-left: 25px;
			padding-right: 25px;
			@include breakpoint (desktop) {
		       	padding-left: 20px;
				padding-right: 20px;
		    }
		    @include media-breakpoint-down(lg) {
		       	padding-left: 15px;
				padding-right: 15px;
		    }
		}
		.service-box {
			min-height: 443px;
			border-radius: 20px;
			background-color: #fff;
			margin-bottom: 66px;
			text-align: center;
			padding: 0 32px 30px 32px;
			display: flex;
    		flex-direction: column;
    		position: relative;
    		@include media-breakpoint-only(lg) {
		       	margin-bottom: 50px;
		      	padding: 0 25px 25px 25px;
		    }
    		@include media-breakpoint-only(md) {
		       	margin-bottom: 40px;
		        padding: 0 20px 20px 20px;
		    }
		    @include media-breakpoint-down(sm) {
		       margin-bottom: 30px;
		       min-height: auto;
		    }
    		&:hover {
				.services-ico {
					background-color: $orange;
				}
				h3 {
					color: $orange;
				}
				a.serv-more {
					color: $orange;
				}
    		}
			.services-ico {
				background-color: $blue-light;
				border-radius: 0px 0px 20px 20px;
				width: 183px;
				height: 123px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-left: auto;
				margin-right: auto;
				@include animate-fade;
				@include breakpoint (desktop) {
			       	width: 163px;
					height: 113px;
			    }
			    @include media-breakpoint-only(lg) {
			       	width: 143px;
					height: 97px;
			    }
			    @include media-breakpoint-only(md) {
			       	width: 123px;
					height: 83px;
			    }
			    @include media-breakpoint-down(sm) {
			       	fwidth: 103px;
					height: 70px;
		    	}
				i {
					color: #fff;
					font-size: 80px;
					@include breakpoint (desktop) {
				       font-size: 70px;
				    }
				    @include media-breakpoint-only(lg) {
				       font-size: 50px;
				    }
				    @include media-breakpoint-only(md) {
				       font-size: 40px;
				    }
				    @include media-breakpoint-down(sm) {
				       font-size: 40px;
			    	}
				}
			}
			h3 {
				margin-top: 30px;
				font-family: $mont-bold;
				font-size: 1.500em;
				line-height: 1.208;
				margin-bottom: 40px;
				@include animate-fade;
				@include breakpoint (desktop) {
			       font-size: 1.4em;
			       margin-bottom: 30px;
			    }
			    @include media-breakpoint-only(lg) {
			       font-size: 1.3em;
			       margin-bottom: 20px;
			    }
			    @include media-breakpoint-only(md) {
			       font-size: 1.2em;
			       margin-bottom: 15px;
			    }
			    @include media-breakpoint-down(sm) {
			       font-size: 1.1em;
			       margin-bottom: 15px;
			    }
			}
			p {
				font-family: $mont-reg;
				color: $grey;
				font-size: 0.813em;
				line-height: 1.923;
			}
			a.serv-more {
				margin-top: auto;
				font-family: $pop-reg;
				font-size: 1.375em;
				color: $blue-light;
				display: inline-block;
				margin-left: auto;
				margin-right: auto;
				@include breakpoint (desktop) {
			       font-size: 1.3em;
			    }
			    @include media-breakpoint-only(lg) {
			       font-size: 1.2em;
			    }
			    @include media-breakpoint-only(md) {
			       font-size: 1.1em;
			    }
			    @include media-breakpoint-down(sm) {
			       font-size: 1em;
			    }
				&:hover {
					color: $orange;
				}
			}
			a.url-wrap {
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				width: 100%;
				height: 100%;
				z-index: 1;
			}
		}
	}
}

/*=====  End of Services Area ======*/



/*===============================
=             Reviews          =
===============================*/


#reviews {
	background-color: #FAF9F8;
	padding-top: 50px;
	padding-bottom: 57px;
	overflow: hidden;
	@include breakpoint (desktop) {
		padding-top: 30px;
    }
    @include media-breakpoint-only(lg) {
    	padding-top: 0;
    }
    @include media-breakpoint-only(md) {
    	padding-top: 0;
    	
    }
    @include media-breakpoint-down(sm) {
       padding-top: 0px;
	}
	/* bootstrap hack: fix content width inside hidden tabs */
	.tab-content > .tab-pane,
	.pill-content > .pill-pane {
	    display: block;     /* undo display:none          */
	    height: 0;          /* height:0 is also invisible */ 
	}
	.tab-content > .active,
	.pill-content > .active {
	    height: auto;       /* let the content decide it  */
	} /* bootstrap hack end */
	.container {
		@media (min-width:1550px) {
			width: 1430px;
			max-width: 1430px;
		}
	}
	h2 {
		text-align: center;
		@include heading-font;
		margin-bottom: 50px;
		@include media-breakpoint-down(sm) {
			margin-bottom: 40px;
		}
	}
	.reviews-in {
		filter: drop-shadow(0 0 20px #00000029);
		.nav-tabs {
			border: 0;
			align-items: center;
			justify-content: center;
			li {
				border: 0;
				border-top-left-radius: 20px;
    			border-top-right-radius: 20px;
    			@include media-breakpoint-up(sm) {
    				width: 33.3333%!important;
    				border-right: 1px solid #fff;
    			}
    			@include media-breakpoint-down(sm) {
					width: 100%;
					border-bottom: 1px solid #fff;
    			}
    			&:last-of-type {
    				border-right: 0;
    			}
				a {
					background-color: $grey;
					display: flex;
					border-top-left-radius: 20px;
					border-top-right-radius: 20px;
					border: 0;
					min-height: 95px;
					padding-left: 35px;
					padding-right: 35px;
					@include breakpoint (desktop) {
				       padding-left: 30px;
				       padding-right: 30px;
				    }
				    @include media-breakpoint-only(lg) {
				       padding-left: 25px;
				       padding-right: 25px;
				    }
				    @include media-breakpoint-only(md) {
				       padding-left: 20px;
				       padding-right: 20px;
				    }
				    @include media-breakpoint-down(sm) {
				       padding-left: 15px;
				       padding-right: 15px;
			    	}
					img {
						@include animate-fade;
						-webkit-filter: brightness(0) invert(1);
    					filter: brightness(0) invert(1);
    					align-self: center;
    					@include breakpoint (desktop) {
					       max-width: 120px;
					    }
					    @include media-breakpoint-only(lg) {
					    	max-width: 120px;
					    }
					    @include media-breakpoint-only(md) {
					       max-width: 90px;
					    }
					    @include media-breakpoint-down(sm) {
					       max-width: 120px;
					    }
					}
					.ratings {
						margin-left: auto;
						@include animate-fade;
						opacity: 0;
						i {
							font-size: 26px;
							color: $orange;
							margin-right: 16px;	
							@include breakpoint (desktop) {
						       font-size: 24px;
						    }
						    @include media-breakpoint-only(lg) {
						       font-size: 22px;
						    }
						    @include media-breakpoint-only(md) {
						       font-size: 20px;
						    }
						    @include media-breakpoint-down(sm) {
						       font-size: 18px;
					    	}
						}
						span {
							display: inline-block;
							font-family:$mont-bold;
							font-size: 1.625em;	
							color: $orange;
							@include breakpoint (desktop) {
						       font-size: 1.500em;
						    }
						    @include media-breakpoint-only(lg) {
						       font-size: 1.375em;
						    }
						    @include media-breakpoint-only(md) {
						       font-size: 1.250em;
						    }
						    @include media-breakpoint-down(sm) {
						       font-size: 1.125em;
					    	}
						}
					}
					
					&.active {
						background-color: #fff!important;
						img {
							margin-left: auto!important;
							margin-right: auto!important;
							-webkit-filter: brightness(1) invert(0);
    						filter: brightness(1) invert(0);
						}
						.rate {
							opacity: 0;
							display: none;
						}
					}
					.rate {
						font-family: $mont-bold;
						font-size: 1.625em;
						color: $orange;
						margin-left: auto;
						@include animate-fade;
						align-self: center;
						@include breakpoint (desktop) {
					       font-size: 1.5em;
					    }
					    @include media-breakpoint-only(lg) {
					       font-size: 1.2em;
					    }
					    @include media-breakpoint-only(md) {
					       font-size: 1em;
					    }
					    @include media-breakpoint-down(sm) {
					       font-size: 1.1em;
				    	}
						i {
							color: $orange;
							margin-right: 16px;
							@include breakpoint (desktop) {
						       margin-right: 10px;
						    }
						    @include media-breakpoint-only(lg) {
						       margin-right: 10px;
						    }
						    @include media-breakpoint-only(md) {
						       margin-right: 5px;
						       font-size: 14px;
						    }
						    @include media-breakpoint-down(sm) {
						       margin-right: 5px;
					    	}
						}
					}
				}
			}
		}
		.tab-content {
			padding: 0px 30px 35px 30px;
			background-color: #fff;
			border-bottom-left-radius: 20px;
			border-bottom-right-radius: 20px;
			.tab-pane {
				.slick-track {
					padding-top: 30px;
				}
				.slick-slide {
				    margin: 0 24px;
				    @include breakpoint (desktop) {
				       margin: 0 20px;
				    }
				    @include media-breakpoint-only(lg) {
				        margin: 0 15px;
				    }
				    @include media-breakpoint-only(md) {
				       margin: 0 10px;
				    }
				    @include media-breakpoint-down(sm) {
				       margin: 0;
			    	}
				}
				.slick-list {
				    margin: 0 -24px;
				     @include breakpoint (desktop) {
				       margin: 0 -20px;
				    }
				    @include media-breakpoint-only(lg) {
				        margin: 0 -15px;
				    }
				    @include media-breakpoint-only(md) {
				       margin: 0 -10px;
				    }
				    @include media-breakpoint-down(sm) {
				       margin: 0;
			    	}
				}
				.review-box {
					background-color: #fff;
					border-radius: 10px;
					padding: 40px 29px 30px 29px;
					margin-bottom: 35px;
					@include media-breakpoint-up(sm) {
						box-shadow: 0px 0px 20px #00000029;
					}
					@include breakpoint (desktop) {
				       margin-bottom: 30px;
				       padding: 35px 25px 25px 25px;
				    }
				    @include media-breakpoint-only(lg) {
				        padding: 35px 25px 25px 25px;
				    }
				    @include media-breakpoint-only(md) {
				        padding: 30px 20px 20px 20px;
				    }
				    @include media-breakpoint-down(sm) {
				       padding: 0;
			    	}
					.review-person-info {
						display: flex;
						.review-image {
							@include media-breakpoint-only(lg) {
								max-width: 40%;
							}
							img {
								border-radius: 50%;
								border:1px solid #ddd;
							}
						}
						.review-content {
							.name, .date, .address {
								padding-left: 36px;
								display: block;
								margin-bottom: 5px;
								@include breakpoint (desktop) {
							       padding-left: 30px;
							    }
							    @include media-breakpoint-only(lg) {
							       padding-left: 25px;
							    }
							    @include media-breakpoint-only(md) {
							       padding-left: 20px;
							    }
							    @include media-breakpoint-down(sm) {
							       padding-left: 15px;
						    	}

							}
							.name {
								font-family: $mont-semi;
								color: $blue-light;
								font-size: 1.500em;
								margin-bottom: 40px;
								@include breakpoint (desktop) {
							       margin-bottom: 30px;
							       font-size: 1.375em;
							    }
							    @include media-breakpoint-only(lg) {
							    	margin-bottom: 10px;
							        font-size: 1.250em;
							    }
							    @include media-breakpoint-only(md) {
							    	margin-bottom: 25px;
							        font-size: 1.125em;
							    }
							    @include media-breakpoint-down(sm) {
							    	margin-bottom: 20px;
							        font-size: 1.063em;
						    	}
							}
							.date,.address {
								font-family: $mont-reg;
								color: $text-color;
								font-size: 0.875em;
								line-height: 1.285;
							}
							.rating {
								margin-top: 40px;
								@include breakpoint (desktop) {
							       margin-top: 35px;
							    }
							    @include media-breakpoint-only(lg) {
							       margin-top: 30px;
							    }
							    @include media-breakpoint-only(md) {
							      margin-top: 25px;
							    }
							    @include media-breakpoint-down(sm) {
							      margin-top: 20px;
						    	}
								i {
									font-size: 20px;
									display: inline-block;
									color: $blue-light;
									vertical-align: middle;
									@include breakpoint (desktop) {
								       font-size: 18px;
								    }
								    @include media-breakpoint-only(lg) {
								       font-size: 16px;
								    }
								    @include media-breakpoint-only(md) {
								      font-size: 14px;
								    }
								    @include media-breakpoint-down(sm) {
								      font-size: 14px;
							    	}
								}
							}
						}
					}
					.review-text {
						margin-top: 35px;
						p {
							font-family: $mont-reg;
							font-size: 0.813em;
							line-height: 1.923;
							color: #000;
						}
					}
				}
				footer {
					text-align: center;
					.quote {
						display: inline-block;
						background: $orange;
						box-shadow: 0px 15px 45px #FFAA004D;
						border-radius: 10px;
						padding: 16px 40px;
						text-align: center;
						font-family: $mont-ebold;
						font-size: 1.125em;
						color: #000;
						text-transform: uppercase;
						@include breakpoint (desktop) {
					        font-size: 1.063em;
					    }
					    @include media-breakpoint-only(lg) {
					        font-size: 1em;
					    }
					    @include media-breakpoint-only(md) {
					       	font-size: 1em;
					    }
					    @include media-breakpoint-down(sm) {
					        font-size: 0.9em;
					    }
						&:hover {
							background: $blue!important;
							color: #fff;
						}
					}
				}
			}
		}
	}	
}
/*=====  End of Reviews ======*/



/*===============================
=           Get A Quote         =
===============================*/

#get-a-quote {
	background-color: #FAF9F8;
	padding-top: 240px;
	padding-bottom: 100px;
	@include breakpoint (desktop) {
	   	padding-top: 140px;
       	padding-bottom: 80px;
    }
    @include media-breakpoint-only(lg) {
       	padding-top: 40px;
       	padding-bottom: 60px;
    }
    @include media-breakpoint-only(md) {
    	padding-top: 20px;
       	padding-bottom: 40px;
    }
    @include media-breakpoint-down(sm) {
    	padding-top: 0px;
      	padding-bottom: 40px;
    }
	.intro {
		text-align: center;
		margin-bottom: 45px;
		h2 {
			font-family: $mont-reg;
			font-size: 2.563em;
			line-height: 1.2;
			color: #000;
			margin-bottom: 5px;

			@include breakpoint (desktop) {
		       font-size: 2.250em;
		    }
		    @include media-breakpoint-only(lg) {
		       font-size: 2.000em;
		    }
		    @include media-breakpoint-only(md) {
		       font-size: 1.750em;
		    }
		    @include media-breakpoint-down(sm) {
		       font-size: 1.5em;
		    }
		}
		h6 {
			font-family: $mont-med;
			font-size: 0.813em;
			line-height: 1.308;
			text-transform: uppercase;
			color: $text-color;
		}
	}
	#quote-form {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 610px;
		.control {
			padding-left: 35px;
		}
		h4, .control--checkbox {
			font-family: $mont-bold;
			font-size: 1.375em;
			color: #000;
			@include breakpoint (desktop) {
		        font-size: 1.250em;
		    }
		    @include media-breakpoint-only(lg) {
		        font-size: 1.125em;
		    }
		    @include media-breakpoint-only(md) {
		       	font-size: 1em;
		    }
		    @include media-breakpoint-down(sm) {
		        font-size: 0.9em;
		    }
		}
		.control__indicator {
			background-color: transparent;
			top: 5px;
			width: 20px!important;
			height: 20px!important;
			border: 2px solid $orange2;
			border-radius: 2px;
			@include breakpoint (desktop) {
		        top: 4px;
		    }
			@include media-breakpoint-only(lg) {
		        top: 2px;
		    }
		    @include media-breakpoint-only(md) {
		       	top: 1px;
		    }
		    @include media-breakpoint-down(sm) {
		        top: -1px;
		    }
			&:after {
				left: 5px;
    			top: 2px;
				border-color: $orange2;
				border-width: 0 3px 3px 0;
			}
		}
		.move-form {
			border-bottom: 1px solid #E3E3E3;
			padding-bottom: 10px;
			margin-bottom: 40px;
			@include media-breakpoint-only(lg) {
		        margin-bottom: 30px;
		    }
		    @include media-breakpoint-only(md) {
		       	margin-bottom: 20px;
		    }
		    @include media-breakpoint-down(sm) {
		        margin-bottom: 20px;
		    }
			h4 {
				margin-bottom: 40px;
				@include media-breakpoint-only(lg) {
			        margin-bottom: 35px;
			    }
			    @include media-breakpoint-only(md) {
			       	margin-bottom: 30px;
			    }
			    @include media-breakpoint-down(sm) {
			        margin-bottom: 25px;
			    }
			}
		}
		.form-group {
			margin-bottom: 17px;
			position: relative;
			&.date {
				input[type="text"] {
					padding-left: 30px;
				}
			}
			i {
				@include centre(y);
				bottom: -3px;
				left: 14px;
				font-size: 0.813em;
				color: #5F5F5F;
				margin-bottom: 2px;
			}
			input[type="text"], input[type="tel"], input[type="email"]  {
				width: 190px;
				height: 36px;
				background: #EDEDED;
				border: 1px solid #E3E3E3;
				border-radius: 10px;
				font-family: $mont-med;
				font-size: 0.813em;
				color: #5F5F5F;
				padding-left: 14px;
				padding-right: 14px;
				@include media-breakpoint-down(sm) {
                    width: 100%;
                }
				@include input-placeholder {
					color: #5F5F5F;
				}
			}
		}
		.size-form {
			.control--checkbox {
				display: inline-block;
			}
			.size-item {
				padding-left: 80px;
				font-family: $mont-bold;
				color: $blue;
				font-size: 2.000em;
				@include breakpoint (desktop) {
			        font-size: 1.7em;
			    }
			    @include media-breakpoint-only(lg) {
			        font-size: 1.6em;
			    }
			    @include media-breakpoint-only(md) {
			       	font-size: 1.4em;
			    }
			    @include media-breakpoint-down(sm) {
			        font-size: 1.1em;
			    }
			}
		}
		.car-estimate {
			border-bottom: 1px solid #E3E3E3;
			padding-bottom: 15px;
			margin-bottom: 30px;
			.footnote {
				margin-bottom: 25px;
				p {
					font-family: $mont-reg;
					font-size: 0.813em;
					line-height: 1.308;
					color: $text-color;
					margin-bottom: 0;
					strong {
						font-weight: normal;
						font-family: $mont-semi;
					}
				}
			}
			
		}
		input[type="submit"] {
			font-size: 0.750em;
			background: $blue;
			box-shadow: 0px 15px 45px #0271EB4D;
			border-radius: 10px;
			display: block;
			height: 36px;
			line-height: 36px;
			text-align: center;
			color: #fff;
			text-transform: uppercase;
			font-family: $mont-bold;
			width: 100%;
			border:0;
			@include animate-fade;
			&:hover {
				background-color: $orange;
			}
		}
	}
}

/*=====  End of Get A Quote ======*/

// Popups
#quote-full {
	position: fixed;
	bottom:0px;
	left:0px;
	width: 100%;
	height: 100%;
	background: $white;
	z-index:9999;
	display: none;
	overflow-y:scroll;
	.quote-wrapper {
		@include centre(both);
		width: 920px;
		@include media-breakpoint-down(sm) {
			width: 100%;
			padding:30px;
		}
		.container {
			position: relative;
			width: 100%;
			h6 {
				font-family: $font-heading;
				font-size: 1.25em;
				font-size: 22px;
				color:$black;
				margin-bottom: 35px;
			}
		}
	}
	header {
		text-align: center;
		padding-bottom: 35px;
		h5 {
			letter-spacing: 0px;
			color: #000000;
			font-size: 41px;
			font-weight: 400;
		}
		p {
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 600;
			letter-spacing: 0px;
			color: #898989;
			text-transform: uppercase;	
			margin-bottom: 15px;
		}
	}
	p {
		margin-bottom: 0px;
	}
	hr {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	span.wpcf7-list-item {
		margin:0px;
	}
	.check-wrapper {
		padding-bottom: 30px;
		padding-top: 15px;
		span.notice {
			font-size: 14px;
		}
		label {
			font-size: 22px;
			font-weight: bold;
		}
		input {
			position: absolute;
			width: auto;
			opacity: 0;
		}
		span.wpcf7-list-item-label:before {
			content: ' ';
			width: 24px;
			height: 24px;
			background: #fff;
			border: 1px solid #afafb0;
			margin-right: 15px;
			display: inline-block;
			cursor: pointer;
			position: relative;
			top: 2px;
			width: 20px!important;
			height: 20px!important;
			border: 2px solid #FFAA29;
			border-radius: 2px;			
		}
		.wpcf7-checkbox input:checked+span.wpcf7-list-item-label:before {
			background-color: #FFAA29;
			border: 1px solid #FFAA29;
			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 70%;
		}
	}
	.form-holder {
		padding-left: 100px;
		padding-right: 100px;
		@include media-breakpoint-down(sm) {
			padding-left: 0px;
			padding-right: 0px;
		}
		input[type="text"], input[type="tel"], input[type="email"], input[type="number"] {
			width: 100%;
			height: 36px;
			background: #EDEDED;
			border: 1px solid #E3E3E3;
			border-radius: 10px;
			font-family: $mont-med;
			font-size: 0.813em;
			color: #5F5F5F;
			padding-left: 14px;
			padding-right: 14px;
			@include media-breakpoint-down(sm) {
				width: 100%;
			}
			@include input-placeholder {
				color: #5F5F5F;
			}				
		}	
		input[type="submit"] {
			font-size: 0.750em;
			background: $blue;
			box-shadow: 0px 15px 45px #0271EB4D;
			border-radius: 10px;
			display: block;
			height: 36px;
			line-height: 36px;
			text-align: center;
			color: #fff;
			text-transform: uppercase;
			font-family: $mont-bold;
			width: 100%;
			border:0;
			@include animate-fade;
			&:hover {
				background-color: $orange;
			}				
		}		
		.form-group {
			margin-bottom: 30px;
			h4 {
				font-family: "Montserrat Bold";
				font-size: 1.375em;
				color: #000;		
				margin:0px;		
			}
			input[type="text"], input[type="tel"], input[type="email"], input[type="number"] {
				width: 100%;
				height: 36px;
				background: #EDEDED;
				border: 1px solid #E3E3E3;
				border-radius: 10px;
				font-family: $mont-med;
				font-size: 0.813em;
				color: #5F5F5F;
				padding-left: 14px;
				padding-right: 14px;
				@include media-breakpoint-down(sm) {
                    width: 100%;
                }
				@include input-placeholder {
					color: #5F5F5F;
				}				
			}	
			input[type="submit"] {
				font-size: 0.750em;
				background: $blue;
				box-shadow: 0px 15px 45px #0271EB4D;
				border-radius: 10px;
				display: block;
				height: 36px;
				line-height: 36px;
				text-align: center;
				color: #fff;
				text-transform: uppercase;
				font-family: $mont-bold;
				width: 100%;
				border:0;
				@include animate-fade;
				&:hover {
					background-color: $orange;
				}				
			}		
		}
		select {
			width: 100%;
			height: 36px;
			background: #EDEDED;
			border: 1px solid #E3E3E3;
			border-radius: 10px;
			font-family: $mont-med;
			font-size: 0.813em;
			color: #5F5F5F;
			padding-left: 14px;
			padding-right: 14px;
			@include media-breakpoint-down(sm) {
				width: 100%;
			}
			@include input-placeholder {
				color: #5F5F5F;
			}				
					
		}
		.form-col {
			margin-bottom: 30px;
			input[type="text"], input[type="number"] {
				width: 100%;
				height: 36px;
				background: #EDEDED;
				border: 1px solid #E3E3E3;
				border-radius: 10px;
				font-family: $mont-med;
				font-size: 0.813em;
				color: #5F5F5F;
				padding-left: 14px;
				padding-right: 14px;
				@include media-breakpoint-down(sm) {
                    width: 100%;
                }
				@include input-placeholder {
					color: #5F5F5F;
				}				
			}
		}
	}
	div.wpcf7-response-output {
		color:red;
		padding:0px;
		margin:0px;
		border:none;
	}
}


.body-hidden {
	overflow: hidden!important;
}

.quote-active {
	bottom: auto!important;
	top:0px;
	z-index:99999!important;
	.ql-in {
		border-radius: 0px 0px 50px 50px!important;
		position: relative;
	}
	#close-quote {
		opacity: 1!important;
		display: block!important;
	}
	#open-quote {
		opacity: 0;
		display: none!important;
	}
}

#quote-line {
	@include animate-fade;
}


.contact-no--left {
	margin-left: 0px !important;
	p {
		margin-bottom: 0px;
	}
	hr {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	h6 {
		font-family: $font-heading;
		font-size: 1.25em;
		font-size: 22px;
		color:$black;
		margin-bottom: 0px;		
	}
	span.wpcf7-list-item {
		margin:0px;
	}
	.check-wrapper {
		padding-bottom: 30px;
		padding-top: 15px;
		span.notice {
			font-size: 14px;
		}
		label {
			font-size: 22px;
			font-weight: bold;
		}
		input {
			position: absolute;
			width: auto;
			opacity: 0;
		}
		span.wpcf7-list-item-label:before {
			content: ' ';
			width: 24px;
			height: 24px;
			background: #fff;
			border: 1px solid #afafb0;
			margin-right: 15px;
			display: inline-block;
			cursor: pointer;
			position: relative;
			top: 2px;
			width: 20px!important;
			height: 20px!important;
			border: 2px solid #FFAA29;
			border-radius: 2px;			
		}
		.wpcf7-checkbox input:checked+span.wpcf7-list-item-label:before {
			background-color: #FFAA29;
			border: 1px solid #FFAA29;
			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 70%;
		}
	}
	.form-holder {
		.form-group {
			margin-bottom: 30px;
			h4 {
				font-family: "Montserrat Bold";
				font-size: 1.375em;
				color: #000;		
				margin:0px;		
			}
			input[type="text"], input[type="tel"], input[type="email"] {
				width: 100%;
				height: 36px;
				background: #EDEDED;
				border: 1px solid #E3E3E3;
				border-radius: 10px;
				font-family: $mont-med;
				font-size: 0.813em;
				color: #5F5F5F;
				padding-left: 14px;
				padding-right: 14px;
				@include media-breakpoint-down(sm) {
                    width: 100%;
                }
				@include input-placeholder {
					color: #5F5F5F;
				}				
			}	
			input[type="submit"] {
				font-size: 0.750em;
				background: $blue;
				box-shadow: 0px 15px 45px #0271EB4D;
				border-radius: 10px;
				display: block;
				height: 36px;
				line-height: 36px;
				text-align: center;
				color: #fff;
				text-transform: uppercase;
				font-family: $mont-bold;
				width: 100%;
				border:0;
				@include animate-fade;
				&:hover {
					background-color: $orange;
				}				
			}		
		}
		select {
			width: 100%;
			height: 36px;
			background: #EDEDED;
			border: 1px solid #E3E3E3;
			border-radius: 10px;
			font-family: $mont-med;
			font-size: 0.813em;
			color: #5F5F5F;
			padding-left: 14px;
			padding-right: 14px;
			@include media-breakpoint-down(sm) {
				width: 100%;
			}
			@include input-placeholder {
				color: #5F5F5F;
			}				
					
		}
		.form-col {
			margin-bottom: 30px;
			input[type="text"], input[type="number"], input[type="tel"], input[type="email"] {
				width: 100%;
				height: 36px;
				background: #EDEDED;
				border: 1px solid #E3E3E3;
				border-radius: 10px;
				font-family: $mont-med;
				font-size: 0.813em;
				color: #5F5F5F;
				padding-left: 14px;
				padding-right: 14px;
				@include media-breakpoint-down(sm) {
                    width: 100%;
                }
				@include input-placeholder {
					color: #5F5F5F;
				}				
			}
			input[type="submit"] {
				font-size: 0.750em;
				background: $blue;
				box-shadow: 0px 15px 45px #0271EB4D;
				border-radius: 10px;
				display: block;
				height: 36px;
				line-height: 36px;
				text-align: center;
				color: #fff;
				text-transform: uppercase;
				font-family: $mont-bold;
				width: 100%;
				border:0;
				@include animate-fade;
				&:hover {
					background-color: $orange;
				}				
			}			
		}
	}
	div.wpcf7-response-output {
		color:red;
		padding:0px;
		margin:0px;
		border:none;
	}	
}



// Datepicker
.ui-datepicker {
    padding-bottom: 50px!important;
	box-shadow: 0px 0px 20px #00000033;
    .ui-datepicker-calendar {
        &:after {
            content:'lower rates';
            position: absolute;
            bottom:20px;
            right:20px;
            font-family: $font-heading;
            font-size: 18px;
            background:$orange;
            color:$white;
            border-radius: 6px;
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 3px;
            padding-bottom: 3px;
        }
        td.ui-datepicker-other-month {
            opacity: 0.3;
        }
        td.ui-datepicker-today {
            a {
                background:$red!important;
                color:$white;
                border-radius: 6px;
            }
        }
        td.event.ui-datepicker-today {
            a {
                background:$blue!important;
                color:$white!important;
                border-radius: 6px;
                &:after {
                    display: none;
                }
            }
        }
        a.ui-state-active {
            background:$white!important;
            color:$orange!important;
        }
        .event {
            // border-bottom: 7px solid #ffd366;
            // border-radius: 2px;
            a {
                position: relative;
                &:after {
                    width: 100%;
                    height: 3px;
                    background:$orange;
                    content:'';
                    display: block;
                    bottom:0px;
                    left:0px;
                    position: absolute;
                    left:0px;
                    bottom:-3px;
					z-index:99;
                }
            }
        }
    }
}

.ui-datepicker .ui-widget-header {
	padding-top: 15px!important;
	padding-bottom: 15px!important;
}

.ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-datepicker-prev {
	top:10px!important;
}