/*===============================
=           Footer            =
===============================*/

#page-footer {
	background-color: #fff;
	padding-top: 35px;
	padding-bottom: 50px;
	@include bp(md) {
		padding-bottom: 0px;
	}
	@include bp(sm-down) {
		padding-top: 55px;
		padding-bottom: 20px;
	}
	.col {
		&:nth-of-type(1) {
			min-width: 42%;
			@include bp(lg) {
				min-width: 35%;
			}
		}
		@include bp(md) {
			min-width: 50%;
			margin-bottom: 50px;
		}
		@include bp(sm-down) {
			min-width: 100%!important;
			margin-bottom: 30px;
		}
		/*&:nth-of-type(1) {
			@include bp(sm-down) {
				order: 4;
			}
		}
		&:nth-of-type(2) {
			@include bp(sm-down) {
				order: 1;
			}
		}
		&:nth-of-type(3) {
			@include bp(sm-down) {
				order: 2;
			}
		}
		&:nth-of-type(4) {
			@include bp(sm-down) {
				order: 3;
			}
		}*/
		h4 {
			margin-top: 7px;
			margin-bottom: 35px;
			font-family: $mont-ebold;
			font-size: 1.125em;
			line-height: 25px;
			text-align: left;
			color: $nav-color;
			text-transform: uppercase;
			@include bp(md) {
				margin-bottom: 20px;
			}
			@include bp(sm-down) {
				margin-bottom: 15px;
			}
		}
		.cert-secure {
			.ceritifactions {
				img {
					display: inline-block;
					vertical-align: middle;
					margin-right: 15px;
					@include bp(lg) {
						margin-right: 10px;
						zoom: .7;
					}
					@include bp(md-down) {
						margin-right: 10px;
						zoom: .8;
					}
				}
			}
			span.code {
				display: block;
				font-family: $mont-med;
				font-size: 0.813em;
				line-height: 30px;
				text-align: left;
				color: #000;
				margin-top: 30px;
				margin-bottom: 15px;
			}
			.security {
				img {
					margin-right: 10px;
				}
			}
		}
		.timings {
			a, span {
				display: block;
				font-family: $mont-med;
				font-size: 0.813em;
				line-height: 25px;
				color: #000;
			}
			a {
				padding-bottom: 2px;
				position: relative;
				display: inline-block;
				&:after {
					display: block;
				    height: 1px;
				    background-color: #fff;
				    content: '';
				    position: absolute;
				    bottom: 3px;
				    width: 0px;
				    left: 0;
				    @include animate-fade;
				}
				&:hover {
					color:$nav-color;
					&:after {
						background-color: $nav-color;
						width: 100%;
					}
				}
			}
		}
		.footer-sitemap {
			@include bp(sm-down) {
				max-width: 298px;
			}
			ul {
				li {
					a {
						display: inline-block;
						font-family: $mont-med;
						font-size: 0.813em;
						line-height: 25px;
						color: #000;
						position: relative;
						padding-bottom: 2px;
						&:after {
							display: block;
						    height: 1px;
						    background-color: #fff;
						    content: '';
						    position: absolute;
						    bottom: 3px;
						    width: 0px;
						    left: 0;
						    @include animate-fade;
						}
						&:hover {
							color:$nav-color;
							&:after {
								background-color: $nav-color;
								width: 100%;
							}
						}
					}
				}
			}
		}

		.follow-us {
			ul {
				li {
					display: inline-block;
					margin-right: 10px;
					&:last-child {
						margin-right: 0;
					}
					a {
						font-size: 1.625em;
						color: $nav-color;
						&:hover {
							color: $orange;
						}
					}
				}
			}
			.footnote {
				margin-top: 28px;
				p {
					font-family: $mont-med;
					font-size: 0.813em;
					line-height: 25px;
					color: #000;
					margin-bottom: 0;
				}
			}
		}
	}
}
.copy-bar {
	background-color: #019AFB;
	padding-top: 14px;
	padding-bottom: 14px;
	.copy-bar-in {
		@include bp(sm-up) {
			display: flex;
			align-items: center;
		}
		@include bp(sm-down) {
			text-align: center;
		}
		small {
			font-family: $mont-med;
			font-size: 0.813em;
			line-height: 25px;
			color: #fff;
		}
		.footer-links {
			margin-left: auto;
			ul {
				li {
					display: inline-block;
					a {
						font-family: $mont-med;
						font-size: 0.813em;
						line-height: 25px;
						color: #fff;
						&:hover {
							opacity: .7;
						}
					}
				}
			}
		}
	}

}




/*=======End of Footer ========*/

// Fixed CTA
#fixed-cta {
    position: fixed;
    bottom:10px;
    right:10px;
	background:$yellow;
    border-radius: 9px;
    z-index:9999;
    animation: pulse 550ms infinite;
    @include animate-fade;
	box-shadow: 30px 30px 60px rgba(0,0,0,.26);
	color:$black;
    &:hover {
		background:$red;
        span, small {
            color:$white;
        }
    }
    @include bp(sm-down) {
        right:10px;
        bottom:5px;
        width: 300px;
        text-align: center;
		margin:0px auto;
    }
    a {
        padding-left: 70px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;        
        @include bp(sm-down) {
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    animation: pulse 1.5s ease infinite;
    i {
        font-size: 20px;
        @include centre(both);
    }
    em {
        background:$blue;
        display: block;
        width: 44px;
        height: 44px;
        border-radius: 100%;
        @include centre(y);
        color:$white;
        font-size: 24px;
        left:15px;        
        @include bp(sm-down) {
            left:25px;
        }
    }
    span {
        display: block;
        color:$white;
        font-size: 26px;
        line-height: 1;
		font-family: $mont-bold;
    }
    small {
        font-size: 15px;
        color:$white;
        display: block;
        line-height: 1.3;
		text-transform: uppercase;
    }    
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
	  background: red;
	  color:$black;
    }
    100% {
      transform: scale(1);
    }
  }
