/*===============================
=           Top Area            =
===============================*/

#menu_area {
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 3px 30px #00000033;
    opacity: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9998;
    @include animate-fade;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    @include bp(md-down) {
        height: 80px;
    }
    .container {
        @include bp(md-down) {
            height: 100%;
            display: flex;
            align-content: center;
        }
        .row {
            .col-md-12 {
                @include bp(md-down) {
                    display: flex;
                }
            }
        }
    }
    .navbar-brand {
        display: inline-block;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
        @include bp(lg-down) {
            width: 130px;
        }
        img {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            @include animate-fade;
        }
        &:hover {
            img {
                opacity: .7;
            }
        }
    }
    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        display: none;
        @media (min-width: 992px) {
            display: flex!important;
            flex-basis: auto;
        }
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        margin-right: 105px;
        @media (min-width: 992px) {
            flex-direction: row;
        }
        @include bp(desktop) {
            margin-right: 35px;
        }
        @include bp(lg) {
            margin-right: 15px;
        }
    }
    .call-btn {
        a {
            display: block;
            padding-left: 23px;
            padding-right: 23px;
            height: 50px;
            line-height: 46px;
            background: $orange2;
            box-shadow: 0px 10px 30px #FFAA004D;
            border-radius: 30px;
            font-family: $mont-bold;
            color: #fff;
            font-size: 1.125em;
            letter-spacing: 0.36px;
            padding-left: 24px;
            padding-right: 24px;
            @include bp(lg) {
                font-size: 0.9em;
            }
            i {
                color: #fff;
                font-size: 24px;
                margin-right: 5px;
                position: relative;
                top: 2px;
                @include bp(lg) {
                    font-size: 20px;
                }
            }
            &:hover {
                background: $blue;
            }
        }
    }
}

#top__mobile {
    float: right;
    width: 55px;
    position: absolute;
    right: 30px;
    top: 28px;
    z-index: 9999;
    @include bp(md-down) {
        top: 19px;
        right: 30px;
    }
    a {
        display: block;
        width: 55px;
        height: 30px;
        span {
            height: 4px;
            border-radius: 6px;
            background-color: #fff;
            width: 35px;
            display: block;
            float: right;
            @include animate-fade;
            margin-top: 3px;
            margin-bottom: 3px;
        }
    }
}


/*=====  End of Top Area  ======*/


/*===============================
=           Hero Banner          =
===============================*/

#hero-banner {
    position: relative;
    @include bp(md-down) {
        background:$blue;
    }
    .overlay {
        @include overlay;
        @include bp(md-down) {
            @include clear-pos;
        }
        .container {
            position: relative;
            height: 100%;
            @include bp(md-down) {
                padding-bottom: 30px;
            }

            .hero-form {
                @include centre(y);
                width: 550px;
                right:15px;
                background:rgba($white, 0.9);
                border-radius: 12px;
                padding:30px;
                padding-bottom: 30px;
                @include bp(lg) {
                    width: 480px;
                    padding:15px;
                }
                @include bp(md-down) {
                    @include clear-pos;
                    width: 100%;
                    right:auto;
                    margin-top: 15px;
                }

                .nav-tabs {
                    display: flex;
                    border:none;
                    justify-content: center;
                    margin-bottom: 30px;
                    flex-wrap: wrap;
                    li {
                        border:none;
                        a {
                            border:none;
                            color:$black;
                            font-family: $mont-med;
                            border-radius: 9px;
                            display: inline-block;
                            border:2px solid transparent;
                            padding: 0.5rem 1rem;
                            line-height: 1.15;
                            &.active {
                                background:transparent;
                                color:$blue;
                                border:2px solid $blue;
                            }
                        }
                    }
                }

                // tabs
                .tab-pane {
                    .form-col {
                        margin-bottom: 15px;
                        h4 {
                            font-family: "Montserrat Bold";
                            font-size: 1.175em;
                            color: #000;		
                            margin:0px;	
                            padding-top: 10px;	
                        }
                        input[type="text"], input[type="tel"], input[type="email"], input[type="number"] {
                            width: 100%;
                            height: 36px;
                            background: #fff;
                            border: 1px solid #ddd;
                            border-radius: 10px;
                            font-family: $mont-med;
                            font-size: 0.813em;
                            color: #5F5F5F;
                            padding-left: 14px;
                            padding-right: 14px;
                            @include bp(sm-down) {
                                width: 100%;
                            }
                            @include input-placeholder {
                                color: #5F5F5F;
                            }				
                        }	
                        input[type="submit"] {
                            font-size: 16px;
                            background: $blue;
                            box-shadow: 0px 15px 45px #0271EB4D;
                            border-radius: 10px;
                            display: block;
                            height: 46px;
                            line-height: 46px;
                            text-align: center;
                            color: #fff;
                            text-transform: uppercase;
                            font-family: $mont-bold;
                            width: 100%;
                            border:0;
                            @include animate-fade;
                            &:hover {
                                background-color: $orange;
                            }				
                        }		
                    }
                    div.wpcf7 .ajax-loader {
                        position: absolute;
                    }

                    div.wpcf7-response-output {
                        color:red;
                        padding:0px;
                        margin:0px;
                        border:none;
                        font-size: 13px;
                    }

                    select {
                        width: 100%;
                        height: 36px;
                        background: #fff;
                        border: 1px solid #ddd;
                        border-radius: 10px;
                        font-family: $mont-med;
                        font-size: 0.813em;
                        color: #5F5F5F;
                        padding-left: 14px;
                        padding-right: 14px;
                        @include bp(sm-down) {
                            width: 100%;
                        }
                        @include input-placeholder {
                            color: #5F5F5F;
                        }				
                                
                    }
                    .form-col {
                        input[type="text"], input[type="number"] {
                            width: 100%;
                            height: 36px;
                            background: #fff;
                            border: 1px solid #ddd;
                            border-radius: 10px;
                            font-family: $mont-med;
                            font-size: 0.813em;
                            color: #5F5F5F;
                            padding-left: 14px;
                            padding-right: 14px;
                            @include bp(sm-down) {
                                width: 100%;
                            }
                            @include input-placeholder {
                                color: #5F5F5F;
                            }				
                        }
                    }                        
                }

                header {
                    text-align: center;
                    padding-bottom: 20px;
                    h5 {
                        letter-spacing: 0px;
                        color: #000000;
                        font-size: 22px;
                        font-weight: 400;
                        margin-bottom: 0px;
                    }
                    p {
                        text-transform: uppercase;
                        font-size: 13px;
                        font-weight: 600;
                        letter-spacing: 0px;
                        color: #898989;
                        text-transform: uppercase;	
                        margin-bottom: 15px;
                    }
                }

                p {
                    margin-bottom: 0px;
                }
                hr {
                    margin-top: 15px;
                    margin-bottom: 15px;
                    display: none;
                }
                span.wpcf7-list-item {
                    margin:0px;
                }
                .check-wrapper {
                    padding-bottom: 15px;
                    padding-top: 0px;
                    span.notice {
                        font-size: 14px;
                    }
                    label {
                        font-size: 22px;
                        font-weight: bold;
                    }
                    input {
                        position: absolute;
                        width: auto;
                        opacity: 0;
                    }
                    span.wpcf7-list-item-label:before {
                        content: ' ';
                        width: 24px;
                        height: 24px;
                        background: #fff;
                        border: 1px solid #afafb0;
                        margin-right: 15px;
                        display: inline-block;
                        cursor: pointer;
                        position: relative;
                        top: 2px;
                        width: 20px!important;
                        height: 20px!important;
                        border: 2px solid #FFAA29;
                        border-radius: 2px;			
                    }
                    .wpcf7-checkbox input:checked+span.wpcf7-list-item-label:before {
                        background-color: #FFAA29;
                        border: 1px solid #FFAA29;
                        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=);
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 70%;
                    }
                }

            }

            
        }
    }
    #hero-slider {
        line-height: 0;
        .item {
            position: relative;
            img {
                width: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                height: 100vh;
                display: block;
                @include bp(lg) {
                    height: 700px;
                }
                @include bp(md) {
                    height: 400px;
                }
                @include bp(sm-down) {
                    height: 400px;
                }
            }
            .overlay {
                background: transparent linear-gradient(66deg, #00000074 0%, #00000058 100%) 0% 0% no-repeat padding-box;
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
            .caption {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: 0 0;
                z-index: 2;
                @include bp(sm-down) {
                    @include clear-pos;
                    margin-top: -200px;
                }
                .container {
                    height: 100%;
                    position: relative
                }


                .caption__holder {
                    @include centre(y);
                    width: 60%;
                    text-align: left;
                    @media (min-width: 1360px) {
                      width: 55%;  
                    }
                    @include bp(lg-down) {
                        width: 50%;
                    }
                    @include bp(sm-down) {
                        @include clear-pos;
                        width: 100%;
                        height: 150px;
                    }
                    h2 {
                        font-family: $mont-ebold;
                        font-size: 4em;
                        line-height: 1.137;
                        color: #fff;
                        margin: 0;
                        padding: 0;
                        text-transform: uppercase;
                        opacity: 0;
                        @include bp(desktop) {
                            font-size: 3.100em;
                        }
                        @include bp(lg) {
                            font-size: 2.500em;
                        }
                        @include bp(md) {
                            font-size: 2.500em;
                        }
                        @include bp(sm-down) {
                            font-size: 2.000em;
                        }
                    }
                }
            }
        }
    }
}

#services-header {
    position: relative;
    background:$blue;
    img {
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        height: 100vh;
        @include bp(lg) {
            height: 80vh;
        }
        @include bp(md) {
            height: 500px;
        }
        @include bp(sm-down) {
            height: 400px;
        }
    }
    .overlay {
        background: transparent linear-gradient(66deg, #00000074 0%, #00000058 100%) 0% 0% no-repeat padding-box;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .btn-down {
        @include centre(x);
        bottom:50px;
        width: 60px;
        height: 60px;
        background:$orange;
        color:$white;
        text-align: center;
        line-height: 60px;
        font-size: 24px;
        color:$white;
        border-radius: 100%;
        @include bp(md-down) {
            display: none;
        }
        &:hover {
            color:$orange;
            background:$white;
        }
    }

    .hero-form {
        @include centre(y);
        width: 550px;
        right:15px;
        background:rgba($white, 0.9);
        border-radius: 12px;
        padding:30px;
        padding-bottom: 30px;
        @include bp(lg) {
            width: 480px;
            padding:15px;
        }
        @include bp(md-down) {
            @include clear-pos;
            width: 100%;
            right:auto;
            margin-top: 15px;
        }

        .nav-tabs {
            display: flex;
            border:none;
            justify-content: center;
            margin-bottom: 30px;
            flex-wrap: wrap;
            li {
                border:none;
                a {
                    border:none;
                    color:$black;
                    font-family: $mont-med;
                    border-radius: 9px;
                    display: inline-block;
                    border:2px solid transparent;
                    padding: 0.5rem 1rem;
                    line-height: 1.15;
                    &.active {
                        background:transparent;
                        color:$blue;
                        border:2px solid $blue;
                    }
                }
            }
        }

        // tabs
        .tab-pane {
            .form-col {
                margin-bottom: 15px;
                h4 {
                    font-family: "Montserrat Bold";
                    font-size: 1.175em;
                    color: #000;		
                    margin:0px;	
                    padding-top: 10px;	
                }
                input[type="text"], input[type="tel"], input[type="email"], input[type="number"] {
                    width: 100%;
                    height: 36px;
                    background: #fff;
                    border: 1px solid #ddd;
                    border-radius: 10px;
                    font-family: $mont-med;
                    font-size: 0.813em;
                    color: #5F5F5F;
                    padding-left: 14px;
                    padding-right: 14px;
                    @include bp(sm-down) {
                        width: 100%;
                    }
                    @include input-placeholder {
                        color: #5F5F5F;
                    }				
                }	
                input[type="submit"] {
                    font-size: 16px;
                    background: $blue;
                    box-shadow: 0px 15px 45px #0271EB4D;
                    border-radius: 10px;
                    display: block;
                    height: 46px;
                    line-height: 46px;
                    text-align: center;
                    color: #fff;
                    text-transform: uppercase;
                    font-family: $mont-bold;
                    width: 100%;
                    border:0;
                    @include animate-fade;
                    &:hover {
                        background-color: $orange;
                    }				
                }		
            }
            div.wpcf7 .ajax-loader {
                position: absolute;
            }

            div.wpcf7-response-output {
                color:red;
                padding:0px;
                margin:0px;
                border:none;
                font-size: 13px;
            }

            select {
                width: 100%;
                height: 36px;
                background: #fff;
                border: 1px solid #ddd;
                border-radius: 10px;
                font-family: $mont-med;
                font-size: 0.813em;
                color: #5F5F5F;
                padding-left: 14px;
                padding-right: 14px;
                @include bp(sm-down) {
                    width: 100%;
                }
                @include input-placeholder {
                    color: #5F5F5F;
                }				
                        
            }
            .form-col {
                input[type="text"], input[type="number"] {
                    width: 100%;
                    height: 36px;
                    background: #fff;
                    border: 1px solid #ddd;
                    border-radius: 10px;
                    font-family: $mont-med;
                    font-size: 0.813em;
                    color: #5F5F5F;
                    padding-left: 14px;
                    padding-right: 14px;
                    @include bp(sm-down) {
                        width: 100%;
                    }
                    @include input-placeholder {
                        color: #5F5F5F;
                    }				
                }
            }                        
        }

        header {
            text-align: center;
            padding-bottom: 20px;
            h5 {
                letter-spacing: 0px;
                color: #000000;
                font-size: 22px;
                font-weight: 400;
                margin-bottom: 0px;
            }
            p {
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: 0px;
                color: #898989;
                text-transform: uppercase;	
                margin-bottom: 15px;
            }
        }

        p {
            margin-bottom: 0px;
        }
        hr {
            margin-top: 15px;
            margin-bottom: 15px;
            display: none;
        }
        span.wpcf7-list-item {
            margin:0px;
        }
        .check-wrapper {
            padding-bottom: 15px;
            padding-top: 0px;
            span.notice {
                font-size: 14px;
            }
            label {
                font-size: 22px;
                font-weight: bold;
            }
            input {
                position: absolute;
                width: auto;
                opacity: 0;
            }
            span.wpcf7-list-item-label:before {
                content: ' ';
                width: 24px;
                height: 24px;
                background: #fff;
                border: 1px solid #afafb0;
                margin-right: 15px;
                display: inline-block;
                cursor: pointer;
                position: relative;
                top: 2px;
                width: 20px!important;
                height: 20px!important;
                border: 2px solid #FFAA29;
                border-radius: 2px;			
            }
            .wpcf7-checkbox input:checked+span.wpcf7-list-item-label:before {
                background-color: #FFAA29;
                border: 1px solid #FFAA29;
                background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 70%;
            }
        }

    }

    .caption {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: 0 0;
        z-index: 2;
        @include bp(md-down) {
            position: relative;
            margin-top: -300px;
            padding-bottom: 30px;
        }
        .container {
            height: 100%;
            position: relative
        }
        .caption__holder {
            @include centre(y);
            width: 50%;
            text-align: left;
            left:15px;
            @media (min-width: 1550px) {
              width: 50%;  
            }
            @include bp(md) {
                margin-top: 0px;
            }
            @include bp(md-down) {
                width: 90%;
                @include clear-pos;
            }
            h2, h1 {
                font-family: $mont-ebold;
                font-size: 4.125em;
                line-height: 1.237;
                color: #fff;
                margin: 0;
                padding: 0;
                text-transform: uppercase;
                @include bp(desktop) {
                    font-size: 3.600em;
                }
                @include  bp(small-lap) {
                    font-size: 3em;
                }
                @include bp(lg) {
                    font-size: 2.5em;
                }
                @include bp(md) {
                    font-size: 2.2em;
                }
                @include bp(sm-down) {
                    font-size: 1.8em;

                }
            }
            h3 {
                font-family: $mont-bold;
                color: #fff;
                text-transform: uppercase;
                font-size: 2.750em;
                line-height: 1.59;
                max-width: 420px;
                margin-top: 50px;
                @include bp(desktop) {
                  margin-top: 50px;
                  font-size: 2.6em;
                }
                @include  bp(small-lap) {
                    margin-top: 30px;
                    font-size: 2.4em;
                }
                @include bp(lg) {
                    margin-top: 50px;
                    font-size: 2.2em;
                }
                @include bp(md) {
                    margin-top: 50px;
                    font-size: 1.8em;
                }
                @include bp(sm-down) {
                    margin-top: 50px;
                    font-size: 1.5em
                }
                span {
                    display: block;
                    font-style: normal;
                    margin-bottom: 20px;
                }
                a {
                    font-weight: normal;
                    position: relative;
                    color: #fff;
                    &:last-of-type {
                        &:before {
                            transform: scale(-1, 1);
                        }
                    }
                    &.active {
                        color: $orange;
                        &:before, &:after  {
                            opacity: 1;
                        }  
                    }
                    &:before {
                        font-family: 'icomoon';
                        font-weight: 400;
                        content: "\e900";
                        color: $orange;
                        font-size: 24px;
                        @include animate-fade;
                        @include centre(x);
                        top: 100%;
                        opacity: 0;
                        @include bp(sm-down) {
                            font-size: 18px;
                        }
                    }
                    &:after {
                        content: '';
                        display: block;
                        background-color: $orange;
                        width: 100%;
                        height: 4px;
                        @include centre(x);
                        @include animate-fade;
                        bottom: 0px;
                        opacity: 0;
                    }
                }
                small {
                    font-family: $pop-reg;
                    font-size: 22px;
                    margin-left: 25px;
                    margin-right: 25px;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    } 
}

/*====  End of Hero banner  ===*/


/*===============================
=           Booking Div          =
===============================*/

#quote-line {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    display: none!important;
    @include bp(sm-down) {
        display: none!important;
    }
    .ql-in {
        width: 100%;
        background: #FFAA29 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 20px #00000033;
        border-radius: 50px 50px 0px 0px;
        padding: 15px 20px;
        @include bp(sm-up) {
            display: flex;
            align-items: center;
        }
        @include bp(sm-down) {
            text-align: center;
        }
        h1 {
            font-family: $mont-reg;
            color: #fff;
            font-size: 2em;
            letter-spacing: 0.03em;
            margin-right: 30px;
            margin-bottom: 0;
            padding-left: 10px;
            @include bp(desktop) {
                font-size: 2em;
            }
            @include bp(lg) {
                font-size: 1.7em;
            }
            @include bp(md) {
                font-size: 1.3em;
                letter-spacing: 0;
            }
            @include bp(sm-down) {
                font-size: 1em;
                padding-left: 0;
                padding-right: 0;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
        }
        a.quote-btn {
            display: inline-block;
            margin-left: auto;
            background-color: $blue;
            font-family: $mont-bold;
            color: #fff;
            text-transform: uppercase;
            font-size: 1.150em;
            height: 50px;
            line-height: 50px;
            border-radius: 32px;
            width: 230px;
            text-align: center;
            @include bp(desktop) {
                font-size: 1.1em;

            }
            @include bp(lg) {
                font-size: 1em;

            }
            @include bp(md) {
                font-size: 0.9em;

            }
            @include bp(sm-down) {
                font-size: 0.9em;
                margin-left: auto;
                margin-right: auto;
                margin-top: 15px;
                height: 45px;
                line-height: 45px;
            }
            &:hover {
                background-color: $blue-light;
            }
        }
        #close-quote {
            opacity: 0;
            @include centre(y);
            right:30px;
            display: none;
            @include bp(sm-down) {
                @include clear-pos;
                right:auto!important;
                margin:0px auto;
                margin-top: 15px;
            }
        }
    }
}


/*=====  End of Booking Div  ======*/


/*===============================
=         Inner Header         =
===============================*/


#inner-header {
    background-color: #fff;
    padding-top: 135px;
    h1 {
        font-family: $mont-ebold;
        font-size: 4.125em;
        line-height: 1.315;
        color: $blue;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
        @include bp(desktop) {
            font-size: 3.600em;
        }
        @include  bp(small-lap) {
            font-size: 3em;
        }
        @include bp(lg) {
            font-size: 2.5em;
            line-height: 1.3;
        }
        @include bp(md) {
            font-size: 2.2em;
            line-height: 1.3;
        }
        @include bp(sm-down) {
            font-size: 1.4em;
            line-height: 1.3;
        }
    }
    .breadcrumb {
        padding-bottom: 15px;
        @include bp(sm-up) {
            display: flex;
            align-items: center;
        }
        ul {
            li {
                display: inline-block;
                &+li {
                    &:before {
                        content: '/';
                        color: $heading-color;
                        margin-left: 5px;
                        margin-right: 7px;
                        font-size: 14px;
                    }
                }
                a {
                    font-family: $mont-med;
                    font-size: 0.875em;
                    text-transform: uppercase;
                    color: $heading-color;
                    @include bp(lg) {
                        font-size: 0.8em;
                    }
                    @include bp(md) {
                        font-size: 0.8em;
                    }
                    @include bp(sm-down) {
                        font-size: 0.7em;
                    }
                    &:hover {
                        color: $orange;
                    }
                }
            }
        }
        .date {
            font-family: $mont-reg;
            font-size: 0.813em;
            line-height: 1.385;
            color: $text-color;
            display: block;
            @include bp(sm-up) {
                margin-left: auto;
                padding-left: 30px;
                min-width: 200px;
                text-align: right;
            }
            @include bp(sm-down) {
                margin-top: 15px;
            }
            i {
                color: $text-color;
                font-size: 13px;
            }
        }
    }
}

/*====  End of Inner Header  ===*/

.single-header {
    .container {
        @include bp(md-up) {
            width: 909px;
            max-width: 909px;
        }        
        h1 {
            font-size: 3em!important;
            @include bp(lg) {
                font-size: 2.5em !important;
            }
            @include bp(md-down) {
                font-size: 2em !important;
            }
        }
    }
}

// mobile
#mobile-menu--btn {
    @include centre(y);
    width: 35px;
    right: 15px;
    display: none;
    @include bp(md-down) {
        display: block;
    }
    a {
        display: block;
        width: 100%;
        span {
            height: 3px;
            border-radius:6px;
            background-color:$orange;
            width: 100%;
            display: block;
            float: right;
            @include animate-fade;
            margin-top: 3px;
            margin-bottom: 3px;
        }	
    }
    .clearfix {
        clear: both;
    }       
}

.pinned {
    position: relative;
    &:after {
        content:'';
        @include centre(both);
        font-size: 20px;
        background: url('../img/ico/map-marker-alt-light.svg') no-repeat;

        background-size:13px;
        background-position: center center;
        width: 24px;
        height: 24px;
        z-index: 9999;
    }
}

#hero-banner .overlay .container .hero-form .tab-pane .form-col {
    .your-state, .your-stateto, span[data-name="your-state"], span[data-name="your-stateto"] {
        position: absolute;
        top:3px;
        right:19px;
        // &:after {
        //     content:'';
        //     @include centre(both);
        //     font-size: 20px;
        //     background: url('../img/ico/map-marker-alt-light.svg') no-repeat;
        //     background-size:13px;
        //     background-position: center center;
        //     width: 24px;
        //     height: 24px;
        //     z-index: 9999;                
        // }
        input {
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            border:none;
            color:$white;
            background-color: $blue;
            border-radius: 9px;
            padding:0px;
            font-size: 13px;
            position: relative;
            z-index: 4000;
        }
    }
}
