.mainmenu {
    background: none;
    border: 0 solid;
    margin: 0;
    padding: 0;
    min-height: 20px;
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    @media (min-width: 992px) {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    @include bp(md-down) {
        height: 80px;
    }
    .dropdown-menu {
        padding: 0;
        margin: 0;
        border: 0 solid transition !important;
        border: 0 solid rgba(0, 0, 0, 0.15);
        border-radius: 0;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    .navbar-nav {
        margin-left: auto;
        margin-right: 100px;
        a {
            font-family: $mont-bold;
            font-size: 0.750em;
            letter-spacing: 0.96px;
            display: block !important;
            text-transform: uppercase;
            color: #000;
            &:hover,
            &:focus {
                color: $nav-color;
                background: #fff;
                outline: 0;
                text-decoration: none !important;
            }
            @include bp(lg) {
                font-size: 0.7em;
            }
        }
        >li {
            position: relative;
            display: flex;
            align-items: center;
            height: 100px;
            margin-left: 2px;
            margin-right: 2px;
            &:nth-child(3) {
                &:before {
                    display: none!important;
                }                
                a {
                    border-color: #000;
                    &:hover {
                        background-color: #000!important;
                        color: #fff;
                    }
                }
            }
            &:before {
                content: '';
                display: block;
                width: 54px;
                height: 6px;
                border-radius: 3px 3px 0px 0px;
                background-color: $nav-color;
                @include centre(x);
                bottom: 0;
                opacity: 0;
                @include animate-fade;
            }
            &:hover {
                &:before {
                    opacity: 1;
                }
                a {
                    background: #fff!important;
                }
            }
            &.quote {
                &:before {
                    display: none!important;
                }
                a {
                    border-color: #000;
                    &:hover {
                        background-color: #000!important;
                        color: #fff;
                    }
                }
            }
            >a {
                padding-top: 3px;
                padding-bottom: 3px;
                padding-left: 6px;
                padding-right: 6px;
                position: relative;
                border: 2px solid transparent;
                border-radius: 6px;
                &:hover {
                    &.dropdown-toggle {
                        &:after {
                            color: $nav-color;
                        }
                    }
                }
                &.dropdown-toggle {
                    position: relative;
                    /*&:after {
                        border: 0;
                        margin: 0;
                        padding: 0;
                        content: "\f078";
                        font-family: "Font Awesome 5 Pro";
                        font-weight: 900;
                        position: absolute;
                        right: 3px;
                        font-size: 0.813em;
                        color: #6A6A6A;
                        @include animate-fade;
                        @include bp(desktop) {
                            font-size: 10px;
                            line-height: 16px;
                            right: 0;
                        }
                        @include bp(lg) {
                            font-size: 10px;
                            line-height: 16px;
                            right: 0;
                        }
                    }*/
                }
            }
        }
        >.show>a {
            color: $nav-color;
            background: #fff;
            outline: 0;
            text-decoration: none !important;
            &:focus,
            &:hover {
                color: $nav-color;
                background: #fff;
                outline: 0;
                text-decoration: none !important;
            }
            &.dropdown-toggle {
                &:after {
                    color: $nav-color;
                }
            }
        }
    }
}


/*==========Sub Menu=v==========*/

.mainmenu {
    .collapse ul {
        >li:hover>a,
        ul>li:hover>a {
            background: #fff;
        }
    }
    .collapse ul ul {
        background: #fff;
        border: 1px solid #eee;
        padding-top: 10px;
        padding-bottom: 10px;
        ul>li:hover>a,
        &.dropdown-menu {
            background: #fff;
        }
        ul {
            background: #fff;
            &.dropdown-menu {
                background: #fff;
            }
            ul {
                background: #fff;
                &.dropdown-menu {
                    background: #fff;
                }
            }
        }
        li {
            padding: 0 15px;
        }
        a {
            padding: 10px 5px;
            border-bottom: 1px solid #eee;
        }
    }
    ul ul .dropdown-toggle {
        position: relative;
        &::after {
            border: 0;
            margin: 0;
            padding: 0;
            content: "\e904";
            font-family: "icomoon";
            font-weight: 900;
            position: absolute;
            right: 15px;
        }
    }
    .dropdown-menu {
        >li:last-of-type>a {
            border-bottom: 0;
        }
        &.fade {
            display: block;
            opacity: 0;
            pointer-events: none;
        }
    }
    .dropdown:hover>.dropdown-menu.fade {
        pointer-events: auto;
        opacity: 1;
    }
}


/******************************Drop-down menu work on hover**********************************/

@media only screen and (min-width: 767px) {
    .mainmenu .collapse ul {
        li:hover>ul {
            display: block;
        }
        ul {
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 250px;
            display: none;
            li {
                position: relative;
                &:hover>ul {
                    display: block;
                }
            }
            ul {
                position: absolute;
                top: 0;
                left: 100%;
                min-width: 250px;
                display: none;
                li {
                    position: relative;
                    &:hover ul {
                        display: block;
                    }
                }
                ul {
                    position: absolute;
                    top: 0;
                    left: -100%;
                    min-width: 250px;
                    display: none;
                    z-index: 1;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav .show .dropdown-menu .dropdown-menu {
        >li>a {
            padding: 16px 15px 16px 35px;
        }
        .dropdown-menu>li>a {
            padding: 16px 15px 16px 45px;
        }
    }
}


.sliding-menu-panel {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}


// mobile menu

.menu-overlay {
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;	
}

.active-overlay {
	opacity: 1;
    visibility: visible;	
}

.main-menu-sidebar {
	background:$orange;
	width:310px;
	position:fixed;
	height:100%;
	top:0px;
	right:-310px;
	z-index:99999;
	transition:.45s ease-in-out;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 30px;
    overflow-y:scroll;
    /* close menu */
    header {
        position: relative;
    }
    .close-menu-btn {
        position: absolute;
        top:15px;
        right:-10px;
        color:$white;
        font-size: 20px;
        width: 32px;
        height: 32px;
        filter: brightness(0) invert(1);
        img {
            @include centre(both);
            width: 22px;
        }
    }
    // arrow
    small {
        display:block;
        width:50px;
        height:50px;
        position: absolute;
        top:0px;
        right:0px;    
        &:after {
            display: block;
            content:url('../img/ico/angle-right-light.svg');
            color:$red;
            font-size: 24px!important;
            @include centre(both);
            width: 12px;
            height: 32px;
            filter: brightness(0) invert(1);
        }
        &.active {
            &:after {
                content:url('../img/ico/angle-down-light.svg');
                @include centre(both);
                width: 16px;
                filter: brightness(0) invert(1);

            }						
        }          
    }
	/* main menu */
	#sidebar-menu-wrapper {
        padding-top: 15px;
		#menu {
			.nav-links {
                padding-top: 40px;
                .menu-item-has-children {
                    position: relative;
                }
				> li > a {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font-size: 16px;
                    color:$white;
                    position: relative;
                    padding-left: 0px;
                    padding-right: 0px;
                    text-transform: uppercase;
                    display: block;
                    font-family: $mont-semi;
                    border-bottom: 1px solid rgba(255,255,255,.1);
                    padding-right: 50px;
					&:hover {
						color:$white;
					}
				}
				li {
					ul {
						padding-top: 10px;
						padding-bottom: 10px;
						li {
							a {
								display: block;
								font-size: 1em;
								color:$white;
								padding-top: 5px;
								padding-bottom: 5px;
								padding-left: 20px;
								position: relative;
								line-height: 1.3;
                                
								&:hover {
									color:$red;
									padding-left: 20px;
									&:before {
										width: 10px;
										background-color:$white;
									}
								}
							}
						}
					}
				}
				.has-menu > a {
					position:relative;
				}
			}
		}

	}
}


.body-scroll {
	overflow-y:hidden!important;
}

.menu-active {
	right: 0;
}