// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$black:#000;
$white:#fff;
$blue:#0271EB;
$nav-color: #0278FA;
$blue-light: #00A8FF;
$heading-color: #1F2453;
$orange: #FFAA00;
$orange2: #FFAA29;
$grey: #3C444F;
$text-color: #898989;







// font default size
$base-size: 16px;
