/*===============================
=          About Header         =
===============================*/

#about-header {
    position: relative;
    background:$blue;
    img {
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        height: 100vh;
        @include bp(lg) {
            height: 700px;
        }
        @include bp(md) {
            height: 600px;
        }
        @include bp(sm-down) {
            height: 400px;
        }
    }

    .hero-form {
        @include centre(y);
        width: 550px;
        right:15px;
        background:rgba($white, 0.9);
        border-radius: 12px;
        padding:30px;
        padding-bottom: 30px;
        @include bp(lg) {
            width: 480px;
            padding:15px;
        }
        @include bp(md-down) {
            @include clear-pos;
            width: 100%;
            right:auto;
            margin-top: 35px;
        }

        .nav-tabs {
            display: flex;
            border:none;
            justify-content: center;
            margin-bottom: 30px;
            li {
                border:none;
                a {
                    border:none;
                    color:$black;
                    font-family: $mont-med;
                    border-radius: 9px;
                    display: inline-block;
                    border:2px solid transparent;
                    padding: 0.5rem 1rem;
                    line-height: 1.15;
                    &.active {
                        background:transparent;
                        color:$blue;
                        border:2px solid $blue;
                    }
                }
            }
        }

        // tabs
        .tab-pane {
            .form-col {
                margin-bottom: 15px;
                h4 {
                    font-family: "Montserrat Bold";
                    font-size: 1.175em;
                    color: #000;		
                    margin:0px;	
                    padding-top: 10px;	
                }
                input[type="text"], input[type="tel"], input[type="email"], input[type="number"] {
                    width: 100%;
                    height: 36px;
                    background: #fff;
                    border: 1px solid #ddd;
                    border-radius: 10px;
                    font-family: $mont-med;
                    font-size: 0.813em;
                    color: #5F5F5F;
                    padding-left: 14px;
                    padding-right: 14px;
                    @include bp(sm-down) {
                        width: 100%;
                    }
                    @include input-placeholder {
                        color: #5F5F5F;
                    }				
                }	
                input[type="submit"] {
                    font-size: 16px;
                    background: $blue;
                    box-shadow: 0px 15px 45px #0271EB4D;
                    border-radius: 10px;
                    display: block;
                    height: 46px;
                    line-height: 46px;
                    text-align: center;
                    color: #fff;
                    text-transform: uppercase;
                    font-family: $mont-bold;
                    width: 100%;
                    border:0;
                    @include animate-fade;
                    &:hover {
                        background-color: $orange;
                    }				
                }		
            }
            div.wpcf7 .ajax-loader {
                position: absolute;
            }

            div.wpcf7-response-output {
                color:red;
                padding:0px;
                margin:0px;
                border:none;
                font-size: 13px;
            }

            select {
                width: 100%;
                height: 36px;
                background: #fff;
                border: 1px solid #ddd;
                border-radius: 10px;
                font-family: $mont-med;
                font-size: 0.813em;
                color: #5F5F5F;
                padding-left: 14px;
                padding-right: 14px;
                @include bp(sm-down) {
                    width: 100%;
                }
                @include input-placeholder {
                    color: #5F5F5F;
                }				
                        
            }
            .form-col {
                input[type="text"], input[type="number"] {
                    width: 100%;
                    height: 36px;
                    background: #fff;
                    border: 1px solid #ddd;
                    border-radius: 10px;
                    font-family: $mont-med;
                    font-size: 0.813em;
                    color: #5F5F5F;
                    padding-left: 14px;
                    padding-right: 14px;
                    @include bp(sm-down) {
                        width: 100%;
                    }
                    @include input-placeholder {
                        color: #5F5F5F;
                    }				
                }
            }                        
        }

        header {
            text-align: center;
            padding-bottom: 20px;
            h5 {
                letter-spacing: 0px;
                color: #000000;
                font-size: 22px;
                font-weight: 400;
                margin-bottom: 0px;
            }
            p {
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: 0px;
                color: #898989;
                text-transform: uppercase;	
                margin-bottom: 15px;
            }
        }

        p {
            margin-bottom: 0px;
        }
        hr {
            margin-top: 15px;
            margin-bottom: 15px;
            display: none;
        }
        span.wpcf7-list-item {
            margin:0px;
        }
        .check-wrapper {
            padding-bottom: 15px;
            padding-top: 0px;
            span.notice {
                font-size: 14px;
            }
            label {
                font-size: 22px;
                font-weight: bold;
            }
            input {
                position: absolute;
                width: auto;
                opacity: 0;
            }
            span.wpcf7-list-item-label:before {
                content: ' ';
                width: 24px;
                height: 24px;
                background: #fff;
                border: 1px solid #afafb0;
                margin-right: 15px;
                display: inline-block;
                cursor: pointer;
                position: relative;
                top: 2px;
                width: 20px!important;
                height: 20px!important;
                border: 2px solid #FFAA29;
                border-radius: 2px;			
            }
            .wpcf7-checkbox input:checked+span.wpcf7-list-item-label:before {
                background-color: #FFAA29;
                border: 1px solid #FFAA29;
                background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 70%;
            }
        }

    }

    .overlay {
        background: transparent linear-gradient(66deg, #00000074 0%, #00000058 100%) 0% 0% no-repeat padding-box;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .caption {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: 0 0;
        z-index: 2;
        @include bp(md-down) {
            position: relative;
            margin-top: -300px;
            padding-bottom: 30px;
        }        
        .container {
            height: 100%;
            position: relative
        }

        
        .caption__holder {
            @include centre(y);
            left:15px;
            width: 50%;
            text-align: left;
            @media (min-width: 1550px) {
              width: 50%;  
            }
            @include bp(md) {
                margin-top: 0px;
            }
            @include bp(md-down) {
                width: 90%;
                @include clear-pos;
            }            
            h1 {
                font-family: $mont-ebold;
                font-size: 4.125em;
                line-height: 1.237;
                color: #fff;
                margin: 0;
                padding: 0;
                text-transform: uppercase;
                @include bp(desktop) {
                    font-size: 3.600em;
                }
                @include bp(lg) {
                    font-size: 3.100em;
                }
                @include bp(md) {
                    font-size: 2.500em;
                }
                @include bp(sm-down) {
                    font-size: 2.000em;
                }
            }
        }
    }
}


/*===============================
=          About Page          =
===============================*/

#about-page {
    // Services Boxes
    .services-boxes {
        background-color: #FAF9F8;
        padding-top: 105px;
        padding-bottom: 110px;
        @include bp(desktop) {
            padding-top: 50px;
            padding-bottom: 85px;
        }
        @include bp(lg) {
            padding-top: 50px;
            padding-bottom: 75px;
        }
        @include bp(md) {
            padding-top: 30px;
            padding-bottom: 65px;
        }
        @include bp(sm-down) {
            padding-top: 30px;
            padding-bottom: 55px;
        }
        &:nth-of-type(1) {
            @include bp(md) {
                padding-top: 40px;
            }
            @include bp(sm-down) {
                padding-top: 40px;
            }
            h2 {
                text-transform: uppercase;
            }
            .service-row {
                .service-content {
                    .sc-in {
                        p {
                            line-height: 2.2;
                        }
                    }
                }
            }
        }
        h2 {
            text-align: center;
            @include heading-font;
            margin-bottom: 90px;
            line-height: 1.591;
            span {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            @include bp(desktop) {
               margin-bottom: 60px;
            }
            @include bp(lg) {
                margin-bottom: 50px;
            }
            @include bp(md) {
                margin-bottom: 30px;
            }
            @include bp(sm-down) {
                margin-bottom: 30px;
            }
        }
        .service-row {
            @include bp(sm-up) {
                display: flex;
                justify-content: center;
                align-items: stretch;;
            }
            .service-content,
            .service-image {
                @include bp(sm-up) {
                   width: 50%; 
                }
            }
            .service-image {
                img {
                    width: 100%;
                    object-fit: cover;
                    @include bp(sm-up) {
                        object-fit: cover;
                        height: 100%;
                    } 
                }
            }
            .service-content {
                background-color: $heading-color;
                @include bp(sm-up) {
                    display: flex;
                    align-items: center;
                    justify-content: center; 
                }
                .sc-in {
                    padding-top: 70px;
                    padding-bottom: 70px;
                    @media (min-width: 1400px) {
                        margin-left: auto;
                        margin-right: 135px;
                    }
                    @include bp(sm-up) {
                        max-width: 531px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center; 
                    }
                    @include bp(lg-down) {
                        padding: 40px;
                        max-width: 100%;
                    }
                    @include bp(sm-down) {
                        padding: 40px 15px;
                    }
                    ul {
                        margin-bottom: 30px;
                        li {
                            display: block;
                            color:$white;
                            font-family: $mont-reg;
                            font-size: 0.938em;
                            line-height: 1.667;
                            padding-top: 4px;
                            padding-bottom: 4px;   
                            padding-left: 35px;
                            position: relative;
                            &:before {
                                content: '';
                                display: block;
                                width: 8px;
                                height: 8px;
                                background: #fff;
                                position: absolute;
                                left: 0px;
                                top: 12px;                            
                            }                     
                        }
                    }
                    h4 {
                        max-width: 550px;
                        font-family: $mont-reg;
                        font-size: 1.500em;
                        line-height: 1.208;
                        margin-bottom: 50px;
                        color: #fff;
                        @include bp(desktop) {
                            font-size: 1.4em;
                            margin-bottom: 40px;
                        }
                        @include bp(lg) {
                            font-size: 1.3em;
                            margin-bottom: 30px;
                        }
                        @include bp(md) {
                           font-size: 1.2em;
                           margin-bottom: 20px;
                        }
                        @include bp(sm-down) {
                            font-size: 1.1em;
                            margin-bottom: 20px;
                        }
                    }
                    p {
                        font-family: $mont-reg;
                        font-size: 0.938em;
                        line-height: 1.667;
                        margin-bottom: 25px;
                        color: #fff;
                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    // Services Area
    #services-area {
        padding-top: 0;
        @include bp(desktop) {
            padding-bottom: 0;
        }
        @include bp(lg) {
            padding-bottom: 0;
        }
        @include bp(md) {
            padding-bottom: 0;
        }
        @include bp(sm-down) {
            padding-bottom: 0;
        }
        .intro {
            margin-bottom: 120px;
            @include bp(desktop) {
                margin-bottom: 90px;
            }
            @include bp(lg) {
                margin-bottom: 70px;
            }
            @include bp(md) {
                margin-bottom: 50px;
            }
            @include bp(sm-down) {
                margin-bottom: 40px;
            }
            h2 {
                text-transform: uppercase;
                line-height: 1.591;
                letter-spacing: -0.4px;
                margin-bottom: 45px;
                @include bp(desktop) {
                    margin-bottom: 40px;
                }
                @include bp(lg) {
                    margin-bottom: 30px;
                }
                @include bp(md) {
                    margin-bottom: 25px;
                }
                @include bp(sm-down) {
                    margin-bottom: 25px;
                }
            }
            p {
                font-family: $mont-reg;
                font-size: 1.375em;
                line-height: 1.5;
                letter-spacing: 0px;
                color: $text-color;
                @include bp(desktop) {
                    font-size: 1.250em;
                }
                @include bp(lg) {
                    font-size: 1.125em;
                }
                @include bp(md) {
                    font-size: 1em;
                }
                @include bp(sm-down) {
                    font-size: 0.9em;
                }
            }
        }
    }
    // Reviews
    #reviews {
        padding-top: 15px;
        padding-bottom: 200px;
        @include bp(desktop) {
            padding-bottom: 150px;
        }
        @include bp(lg) {
            padding-bottom: 100px;
        }
        @include bp(md) {
            padding-bottom: 50px;
        }
        @include bp(sm-down) {
            padding-bottom: 40px;
        }
    }
}