/*===============================
=          Contact Page         =
===============================*/

#contact-page {
    background-color: #FAF9F8;
    padding-bottom: 100px;
    @include bp(desktop) {
        padding-bottom: 75px;
    }
    @include bp(lg) {
        padding-bottom: 65px;
    }
    @include bp(md) {
       padding-bottom: 55px;
    }
    @include bp(sm-down) {
        padding-bottom: 50px;
    }
    #inner-header {
    	background-color: #FAF9F8;
    	@include bp(md-up) {
			padding-top: 150px!important;
    	}
    	h1 {
    		text-transform: uppercase;
    	}
    }
    #contact-page-content {
    	padding-top: 90px;
    	@include bp(desktop) {
			padding-top: 80px;
	    }
	    @include bp(lg) {
			padding-top: 60px;
	    }
	    @include bp(md) {
			padding-top: 50px;
	    }
	    @include bp(sm-down) {
			padding-top: 40px;
	    }
    	.map {
    		max-width: 613px;
    		width: 100%;
    	}
    	.contact-more-info {
    		margin-top: 65px;
    		@include bp(desktop) {
				margin-top: 55px;
		    }
		    @include bp(lg) {
				margin-top: 45px;
		    }
		    @include bp(md) {
				margin-top: 35px;
		    }
		    @include bp(sm-down) {
				margin-top: 20px;
		    }
    		p {
				font-family: $mont-med;
				font-size: 0.813em;
				line-height: 1.923;
				color: #000;
				margin-bottom: 0;
				a {
					color: inherit;
					&:hover {
						color: $orange;
						text-decoration: none;
					}
				}
    		}
    	}
    	.contact-form {
    		max-width: 610px;
    		width: 100%;
    		margin-left: auto;
    		@include bp(sm-down) {
				margin-top: 35px;
			}
			span.wpcf7-list-item {
				margin:0px;
			}
			// Validate
			div.wpcf7-response-output {
				text-align: right;
				border:none;
				padding:0px;
				font-size: 15px;
				color:red;
				margin-top: 0px;
			}
			.wpcf7-checkbox {
				position: relative;
				input {
					position: absolute;
					width: auto;
					opacity: 0;
				}
				span.wpcf7-list-item-label:before {
					content: ' ';
					width: 24px;
					height: 24px;
					background: #fff;
					border: 1px solid #afafb0;
					margin-right: 15px;
					display: inline-block;
					cursor: pointer;
					position: relative;
					top: 4px;
					width: 20px!important;
					height: 20px!important;
					border: 2px solid #FFAA29;
					border-radius: 2px;			
				}
				 input:checked+span.wpcf7-list-item-label:before {
					background-color: #FFAA29;
					border: 1px solid #FFAA29;
					background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=);
					background-repeat: no-repeat;
					background-position: center center;
					background-size: 70%;
				}				
			}
			.wpcf7-list-item-label {
				font-size: 14px;
			}
    		form {
				p {
					margin-bottom: 0px !important;
				}
    			.row {
    				padding-left: 5px;
    				padding-right: 5px;
    				> [class*="col-"] {
    					padding-left: 10px;
    					padding-right: 10px;
    				}
    			}
				.control--checkbox {
					font-family: $mont-reg;
					font-size: 0.813em;
					line-height: 1.308;
					color: $text-color;
					margin-bottom: 0;
					padding-bottom: 0;
					padding-left: 30px;
				}
				.control__indicator {
					background-color: transparent;
					width: 20px!important;
					height: 20px!important;
					border: 2px solid $orange2;
					border-radius: 2px;
					&:after {
						left: 5px;
		    			top: 2px;
						border-color: $orange2;
						border-width: 0 3px 3px 0;
					}
				}
				.form-group {
					margin-bottom: 17px;
					position: relative;
					input[type="text"], input[type="tel"], input[type="email"], textarea {
						width: 100%;
						height: 36px;
						background: #EDEDED;
						border: 1px solid #E3E3E3;
						border-radius: 10px;
						font-family: $mont-med;
						font-size: 0.813em;
						color: #5F5F5F;
						padding-left: 14px;
						padding-right: 14px;
						@include bp(sm-down) {
		                    width: 100%;
		                }
						@include input-placeholder {
							color: #5F5F5F;
						}
					}
					textarea {
						height: auto;
						padding-top: 10px;
					}
				}
				.submit-area {
					@include bp(sm-up) {
						text-align: right;
					}
					input[type="submit"] {
						margin-left: auto;
						font-size: 0.750em;
						background: $blue;
						box-shadow: 0px 15px 45px #0271EB4D;
						border-radius: 10px;
						display: block;
						height: 36px;
						line-height: 36px;
						text-align: center;
						color: #fff;
						text-transform: uppercase;
						font-family: $mont-bold;
						border:0;
						padding-left: 45px;
						padding-right: 45px;
						@include bp(desktop) {
							padding-left: 40px;
							padding-right: 40px;
					    }
					    @include bp(lg) {
							padding-left: 35px;
							padding-right: 35px;
					    }
					    @include bp(md) {
							padding-left: 15px;
							padding-right: 15px;
							font-size: 0.6em;
					    }
					    @include bp(sm-down) {
							padding-left: 30px;
							padding-right: 30px;
							margin-left: 0;
							margin-top: 25px;
					    }
						@include animate-fade;
						&:hover {
							background-color: $orange;
						}
					}
				}
    		}
    	}
    }
}

// Validate
span.wpcf7-not-valid-tip {
	font-size: 12px;
	display: block;
	padding-top: 2px;
}

.wpcf7-not-valid {
	border:1px solid red!important;
}

// Bottom form
#bottom-form {
	background:$blue;
	padding:35px;
	border-radius: 12px;
	.nav-tabs {
		display: flex;
		border:none;
		justify-content: center;
		margin-bottom: 30px;
        flex-wrap: wrap;
		li {
			border:none;
			a {
				border:none;
				color:$white;
				font-family: $mont-med;
				border-radius: 9px;
				display: inline-block;
				border:2px solid transparent;
				padding: 0.5rem 1rem;
                line-height: 1.15;
				&.active {
					background:transparent;
					color:$white;
					border:2px solid $white;
				}
			}
		}
	}	
	// tabs
	.tab-pane {
		.form-col {
			margin-bottom: 15px;
			h4 {
				font-family: "Montserrat Bold";
				font-size: 1.175em;
				color: #000;		
				margin:0px;	
				padding-top: 10px;	
			}
			input[type="text"], input[type="tel"], input[type="email"], input[type="number"] {
				width: 100%;
				height: 36px;
				background: #fff;
				border: 1px solid #ddd;
				border-radius: 10px;
				font-family: $mont-med;
				font-size: 0.813em;
				color: #5F5F5F;
				padding-left: 14px;
				padding-right: 14px;
				@include bp(sm-down) {
					width: 100%;
				}
				@include input-placeholder {
					color: #5F5F5F;
				}				
			}	
			input[type="submit"] {
				font-size: 16px;
				background: $orange;
				box-shadow: 0px 15px 45px #0271EB4D;
				border-radius: 10px;
				display: block;
				height: 46px;
				line-height: 46px;
				text-align: center;
				color: #fff;
				text-transform: uppercase;
				font-family: $mont-bold;
				width: 100%;
				border:0;
				@include animate-fade;
				&:hover {
					background-color: $orange2;
				}				
			}		
		}
		div.wpcf7 .ajax-loader {
			position: absolute;
		}

		div.wpcf7-response-output {
			color:pink;
			padding:0px;
			margin:0px;
			border:none;
			font-size: 13px;
		}

		span.wpcf7-not-valid-tip {
			color:pink;
		}

		select {
			width: 100%;
			height: 36px;
			background: #fff;
			border: 1px solid #ddd;
			border-radius: 10px;
			font-family: $mont-med;
			font-size: 0.813em;
			color: #5F5F5F;
			padding-left: 14px;
			padding-right: 14px;
			@include bp(sm-down) {
				width: 100%;
			}
			@include input-placeholder {
				color: #5F5F5F;
			}				
					
		}
		.form-col {
			input[type="text"], input[type="number"] {
				width: 100%;
				height: 36px;
				background: #fff;
				border: 1px solid #ddd;
				border-radius: 10px;
				font-family: $mont-med;
				font-size: 0.813em;
				color: #5F5F5F;
				padding-left: 14px;
				padding-right: 14px;
				@include bp(sm-down) {
					width: 100%;
				}
				@include input-placeholder {
					color: #5F5F5F;
				}				
			}
		}                        
	}	
}

.quote-cta--single {
	background:$blue;
	padding:40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 32px;
	margin-bottom: 30px;
	@include bp(md-down) {
		display: block;
		text-align: center;
	}
	@include bp(sm-down) {
		padding:30px;
	}
	span {
		color:$white;
		font-size: 24px;
		@include bp(md-down) {
			display: block;
			margin-bottom: 25px;
		}
		@include bp(sm-down) {
			font-size: 22px;
		}
	}
	a.btn-cta {
		display: inline-block;
		padding-left: 30px;
		padding-right: 30px;
		font-size: 18px;
		color:$white;
		background:$orange;
		border-radius: 9999px;
		height: 52px;
		line-height: 52px;
		font-family: $mont-semi;
		width: 180px;
		text-align: center;
		&:hover {
			background:$white;
			color:$orange;
		}
	}
}

.video__holder {
	max-width: 100%;
	iframe {
		max-width: 100%;
	}
}