@font-face {
    font-family: 'Montserrat Regular';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat Medium';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat ExtraBold';
    src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Poppins SemiBold';
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?grhdug');
    src:  url('../fonts/icomoon.eot?grhdug#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?grhdug') format('truetype'),
      url('../fonts/icomoon.woff?grhdug') format('woff'),
      url('../fonts/icomoon.svg?grhdug#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-thumbs-up:before, .fa-thumbs-up:before {
    content: "\e91c";
  }
  .icon-user-shield:before, .fa-user-shield:before {
    content: "\e91d";
  }
  .icon-user-crown:before, .fa-user-crown:before {
    content: "\e91e";
  }
  .icon-gem:before, .fa-gem:before {
    content: "\e91f";
  }
  .icon-angle-left:before, .fa-angle-left:before {
    content: "\e91a";
  }
  .icon-angle-right:before, .fa-angle-right:before {
    content: "\e91b";
  }
  .icon-arrow-right:before, .fa-arrow-right:before {
    content: "\e919";
  }
  .icon-truck:before, .fa-truck:before {
    content: "\e900";
  }
  .icon-file-contract:before, .fa-file-contract:before {
    content: "\e901";
  }
  .icon-user-headset:before, .fa-user-headset:before {
    content: "\e902";
  }
  .icon-file-signature:before, .fa-file-signature:before {
    content: "\e903";
  }
  .icon-chevron-right:before, .fa-chevron-right:before {
    content: "\e904";
  }
  .icon-chevron-left:before, .fa-chevron-left:before {
    content: "\e905";
  }
  .icon-clock:before, .fa-clock:before {
    content: "\e906";
  }
  .icon-long-arrow-right:before, .fa-long-arrow-right:before {
    content: "\e907";
  }
  .icon-star-half-alt:before, .fa-star-half-alt:before {
    content: "\e908";
  }
  .icon-star:before, .fa-star:before {
    content: "\e909";
  }
  .icon-box-full:before, .fa-box-full:before {
    content: "\e90a";
  }
  .icon-boxes-alt:before, .fa-boxes-alt:before {
    content: "\e90b";
  }
  .icon-box-fragile:before, .fa-box-fragile:before {
    content: "\e90c";
  }
  .icon-truck-couch:before, .fa-truck-couch:before {
    content: "\e90d";
  }
  .icon-box-open:before, .fa-box-open:before {
    content: "\e90e";
  }
  .icon-car:before, .fa-car:before {
    content: "\e90f";
  }
  .icon-instagram:before, .fa-instagram:before {
    content: "\e910";
  }
  .icon-youtube:before, .fa-youtube:before {
    content: "\e911";
  }
  .icon-yelp:before, .fa-yelp:before {
    content: "\e912";
  }
  .icon-twitter:before, .fa-twitter:before {
    content: "\e913";
  }
  .icon-facebook:before, .fa-facebook:before {
    content: "\e914";
  }
  .icon-phone-alt:before, .fa-phone-alt:before {
    content: "\e915";
  }
  .icon-minus:before, .fa-minus:before {
    content: "\e916";
  }
  .icon-plus:before, .fa-plus:before {
    content: "\e917";
  }
  .icon-sort:before, .fa-sort:before {
    content: "\e918";
  }
  

$mont-reg: 'Montserrat Regular';
$mont-bold: 'Montserrat Bold';
$mont-ebold: 'Montserrat ExtraBold';
$mont-med: 'Montserrat Medium';
$mont-semi: 'Montserrat SemiBold';
$mont-light: 'Montserrat Light';
$pop-reg: 'poppinsregular';
$pop-semi: 'Poppins SemiBold';



$font-main: 'Montserrat Regular';
$font-heading:  'Montserrat Bold';


*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fa, .fab, .fas, .fal, .far {
    font-family: 'icomoon';
}

body { 
	font: {
		size:$base-size;
		family: $font-main;
	}
	-webkit-text-size-adjust: 100%;  //fix for iOS 
    color: #212529;
    padding: 0;
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
}

p {
    font-size: 1em;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 30px;
    a {
        color:$nav-color;
        &:hover {
            text-decoration: underline;
            color:$orange;
        }
    }
}

ul {
    list-style: none;
    margin:0px;
    padding:0px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.h1, h1 {
    font-size: 2.5rem;
}

.h2, h2 {
    font-size: 2rem;
}

.h3, h3 {
    font-size: 1.75rem;
}

.h4, h4 {
    font-size: 1.5rem;
}

// reset
a {
    @include animate-fade;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

a, button, input, textarea {
    &:focus {
        outline: none!important;
    }
}

button, input[type="submit"] {
    @include animate-fade;
    cursor: pointer;
}

address {
    margin:0px;
    padding:0px;
}
iframe {
    border:0;
}

i {
    font-style: normal;
}

#secondary img, article img, figure, img, img.wp-post-image {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}
