// 0. Path.
$assets: '../img';

// 1. Colors.
$black:#000;
$white:#fff;
$blue:#0271EB;
$nav-color: #0278FA;
$blue-light: #00A8FF;
$heading-color: #1F2453;
$orange: #FFAA00;
$orange2: #FFAA29;
$yellow: #ffc107;
$grey: #3C444F;
$text-color: #898989;
$red: #dc3545;

// 2. Sizes
$base-size:16px;



